@font-face {
    font-family: PFDinTextCondPro;
    src: url(https://thewitcher.com/fonts/hinted-PFDinTextCondPro-Regular.woff2) format("woff2"), url(https://thewitcher.com/fonts/hinted-PFDinTextCondPro-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url(https://thewitcher.com/fonts/PFDinTextCondPro-Bold.woff2) format("woff2"), url(https://thewitcher.com/fonts/PFDinTextCondPro-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: PFDinTextCondPro;
    src: url(https://thewitcher.com/fonts/hinted-PFDinTextCondPro-Italic.woff2) format("woff2"), url(https://thewitcher.com/fonts/hinted-PFDinTextCondPro-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: ProximaNova;
    src: url(https://thewitcher.com/fonts/ProximaNovaBold.otf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: HalisGR-Light;
    src: url(https://thewitcher.com/fonts/hinted-HalisGR-Light.woff2) format("woff2"), url(https://thewitcher.com/fonts/hinted-HalisGR-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: HalisGR;
    src: url(https://thewitcher.com/fonts/hinted-HalisGR-Bold.woff2) format("woff2"), url(https://thewitcher.com/fonts/hinted-HalisGR-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: HalisGR;
    src: url(https://thewitcher.com/fonts/310E27_B_0.woff2) format("woff2"), url(https://thewitcher.com/fonts/310E27_B_0.woff) format("woff");
    font-weight: 400
}

@font-face {
    font-family: HalisGR-Bold;
    src: url(https://thewitcher.com/fonts/hinted-HalisGR-Bold.woff2) format("woff2"), url(https://thewitcher.com/fonts/hinted-HalisGR-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

body,
html {
    margin: 0;
    padding: 0;
    background-image: url(https://thewitcher.com/gfx/witcher3/bg-story.6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

div {
    display: block;
}

.inner-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 1px 1px 15.52px #000;

}

h2 {
    display: block;
    font-size: 1.5em;
    margin: 0;
    font-weight: 400;
}

.title {
    font-size: 40px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.inner-list {
    list-style: none;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    column-gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;

}

.inner-list li {
    position: relative;
    margin-bottom: 5px;
}


.block {
    width: 619px;
    height: 450px;
    margin-top: 150px;
    background: transparent;
    margin-left: 160px;

}

span {
    display: block;
    position: relative;
    bottom: 35px;
    color: white;
    text-shadow: 1px 1px 15.52px #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
}

.inner-wrapper h2:after {
    content: '';
    display: block;
    background-image: url(https://thewitcher.com/img/sprite-w3-buttons-8f4a86f6ed.6.png);
    background-position: 0 -14px;
    width: 305px;
    height: 12px;
    background-position-x: 50%;
    width: 100%;
    background-repeat: no-repeat;
    height: 12px;
    margin-top: 8px;
}

.inner-list li a {
    background-image: url(https://thewitcher.com/img/sprite-w3-buttons-8f4a86f6ed.6.png);
    background-position: 0 -1511px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
}