/* ISLAM--- Overlay start */
* {
  outline: 0;
}

body {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-family:'PFDinTextCondPro-Regular';
}


.containerOf {
  background: url(/assets/images/Islam/bg-desktop-toussaint.6.jpg);
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 4;
}

#fixtl {
  background: url(/assets/images/Islam/corner-top-left.6.png);
  position: absolute;
  top: 13px;
  left: 13px;
  height: 54px;
  width: 54px;
}



#fixtr {
  background: url(/assets/images/Islam/corner-top-right.6.png);
  position: absolute;
  top: 13px;
  right: 13px;
  height: 54px;
  width: 54px;
}


#fixbl {
  background: url(/assets/images/Islam/corner-bottom-left.6.png);
  position: absolute;
  bottom: 13px;
  left: 13px;
  height: 54px;
  width: 54px;
}

#fixbr {
  background: url(/assets/images/Islam/corner-bottom-right.6.png);
  position: absolute;
  bottom: 13px;
  right: 13px;
  height: 54px;
  width: 54px;
}

#topleftline {
  background-color: #b19042;
  height: 1px;
  opacity: .35;
  position: absolute;
  height: 1px;
  top: 40px;
  left: 70px;
  right: 50%;
}



#toprightline {
  background-color: #b19042;
  opacity: .35;
  height: 1px;
  position: absolute;
  height: 1px;
  top: 40px;
  right: 70px;
  left: 50%;
}

#leftline {
  position: absolute;
  width: 1px;
  background-color: #b19042;
  opacity: .35;
  left: 40px;
  top: 70px;
  bottom: 70px;
}

#rightline {
  position: absolute;
  width: 1px;
  background-color: #b19042;
  opacity: .35;
  right: 40px;
  top: 70px;
  bottom: 70px;
}

#botrightline {
  background-color: #b19042;
  height: 1px;
  opacity: .35;
  position: absolute;
  height: 1px;
  bottom: 40px;
  right: 70px;
  left: 50%;
}

#botleftline {
  background-color: #b19042;
  height: 1px;
  opacity: .35;
  position: absolute;
  height: 1px;
  bottom: 40px;
  left: 70px;
  right: 50%;
}

#scrollDown {
  background: url(/assets/images/Islam/scrollDown.png);
  width: 10px;
  height: 27px;
  position: absolute;
  bottom: -1.7px;
  left: 49.5%;
  transform: rotate(-90deg);
  z-index: 5;
  border: none;
}

/* Overlay end */

#media {
  background: url(/assets/images/Islam/bg-media.6.jpg);
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.alpa {
  background: url(/assets/images/Islam/apla-media.6.png);
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.mediaH2 {
  font-size: 40px;
  margin-bottom: 10px;
  margin: 0;
}

.line_between {
  background: url(/assets/images/Islam/sprite-w3-buttons-8f4a86f6ed.6.png);
  background-position-x: 50%;
  height: 12px;
  margin-top: 8px;
  background-repeat: no-repeat;
}

.inner_wrapper {
  position: relative;
  top: 122px;
  text-align: center;
}

.media_slide {
  cursor: pointer;
  display: block;
  padding: 0 7px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
}

#media_video {
  background: url(/assets/images/Islam/media\ button.png);
  background-repeat: no-repeat;
  width: 166px;
  height: 40px;
  display: inline-block;
}

#media_wall {
  background: url(/assets/images/Islam/sprite-w3-buttons-8f4a86f6ed.6\ —\ копия.png);
  background-repeat: no-repeat;
  width: 166px;
  height: 40px;
  display: inline-block;
}

#media_screen {
  background: url(/assets/images/Islam/sprite-w3-buttons-8f4a86f6ed.6\ —\ копия.png);
  background-repeat: no-repeat;
  width: 166px;
  height: 40px;
  display: inline-block;
}

#swiperMedia {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 272px;
  width: 952px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
#slidebut {
  height: 40px;
  width: 166px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
}

#videoSlide {

display: grid;
grid-template-columns: 312px 312px 312px;
height: 272px;
}



#screenSlide {
  display: grid;
  grid-template-columns: 312px 312px 312px;
  height: 272px;
}
#wallpaperSlide {
  display: grid;
  grid-template-columns: 312px 312px 312px;
  height: 272px;
}
#cont {
  width: 312px;
  height: 256px;
  margin: 4px;
  background-color: rgba(0,0,0,.6);


}
#inVid {
  width: 256px;
  margin: 8px;
}
#slideImg {
  width: 296px;
  height: 166px;
}
#spanes {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  line-height: 1.083;
  text-align: left;
  padding-top: 8px;
}